/* About Section
--------------------------------*/
#about {
  padding: 60px 0 30px 0;
  background-image: none;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #1bac91;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 25px;
}
/* services-reveal Section
--------------------------------*/
#services-reveal {
  padding: 20px;
}

#services-reveal .box {
  padding: 50px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services-reveal .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services-reveal .box .icon {
  float: left;
}

#services-reveal .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 72%;
  float: left;
}


#services-reveal .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services-reveal .box h4 a {
  color: #444;
}

#services-reveal .box p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #services-reveal .box .box {
    margin-bottom: 20px;
  }
  #services-reveal .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services-reveal .box h4, #services-reveal .box p {
    margin-left: 0;
    text-align: center;
  }
}
.section-header {
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #50d8af;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

.sc{
  margin-bottom: 10px;
}

